%h2 Schedule K &mdash; Partners' Distributive Share Items
%table
  %thead
    %tr
      %th Category
      %th Total
      - @schedule_k.users.each do |user|
        %th= user.email
  %tbody
    - @schedule_k.categories.each do |category|
      %tr
        %th= category
        %td= number_to_currency @schedule_k.value(category)
        - @schedule_k.users.each do |user|
          %td= number_to_currency @schedule_k.value(category, user)
