- content_for :head do
  %link{rel: 'prefetch', href: '/portfolio.json'}

%div#growth-wrapper{'data-graph' => {url: '/portfolio.json',
                                     xAxis: 'date',
                                     yAxis: 'value',
                                     series: 'name'}.to_json}
