%div#growth-wrapper{'data-mutiny-graph' => j(xAxis: 'date',
                                             yAxis: 'value',
                                             series: 'name',
                                             data: json_render('show.json', portfolio: @portfolio))}
