%div#growth-wrapper{'data-mutiny-graph' => {data: render('show.json', portfolio: @portfolio),
                                            xAxis: 'date',
                                            yAxis: 'value',
                                            series: 'name'}.to_json}
