%table
  %thead
    %tr
      %th Date
      %th Portfolio
      %th S&amp;P 500
  %tbody
    - @portfolio.dates.each do |date|
      %tr
        %th= date
        %td= number_to_currency @portfolio.value_on(date)
        %td= number_to_currency @portfolio.benchmark_value_on(date)
