body {
  font-family: Helvetica, Arial;
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

main {
  svg {
    border: 1px solid black;
    margin: 29px;
  }
}

footer {
  display: inline-block;

  > * {
    display: inline;
    &.tech:before {
      content: '• ';
      padding: 0 4px;
    }
  }
}
