%div#growth-wrapper
  :javascript
    var graph = new InvestmentGraph('#growth-wrapper', 'value')
    var symbols = #{@investments.map(&:symbol)}
    symbols.forEach(function(symbol){
      $.getJSON('/investments/'+symbol+'/benchmark', function(data){
        graph.add(symbol, data)
      })
    })
